## Check that primary keys are unique

In [1]:
# Dependencies and Setup
import pandas as pd

# Read in data
departments_df = pd.read_csv('departments.csv') # dept_no PK string
dept_emp_df = pd.read_csv('dept_emp.csv')
dept_manager_df = pd.read_csv('dept_manager.csv')
employees_df = pd.read_csv('employees.csv') # emp_no PK int
salaries_df = pd.read_csv('salaries.csv')
titles_df = pd.read_csv('titles.csv')  # title_id PK string

In [3]:
departments_df.describe(include = 'object').T

          count unique        top freq
dept_no       9      9       d001    1
dept_name     9      9  Marketing    1

The primary key dept_no is unique in the departments table.

In [5]:
print(dept_emp_df['emp_no'].nunique())
print(len(dept_emp_df['emp_no']))

300024
331603

emp_no is not unique in the dept_emp table, so must create a composite primary key with dept_no

In [6]:
print(dept_manager_df['emp_no'].nunique())
print(len(dept_manager_df['emp_no']))

24
24

The primary key emp_no is unique in the dept_manager table.

In [7]:
print(employees_df['emp_no'].nunique())
print(len(employees_df['emp_no']))

300024
300024

The primary key emp_no is unique in the employees table.

In [8]:
print(salaries_df['emp_no'].nunique())
print(len(salaries_df['emp_no']))

300024
300024

The primary key emp_no is unique in the salary table.

In [9]:
titles_df.describe(include = 'object').T

         count unique    top freq
title_id     7      7  s0001    1
title        7      7  Staff    1

The primary key title_id is unique in the titles table.